@*@model Domasno_2.Models.MarketData*@

@model Domasno_2.Controllers.MarketData_Z

@{
    ViewData["Title"] = "Show";
}

<h2>Show</h2>

<p>

    @*@ViewBag.price*@
    @*@Model.PriceClose*@

    @Html.DisplayNameFor(model => model.PriceClose)
    <br />
    @Html.DisplayFor(model => model.StockSymbol):    @Html.DisplayFor(model => model.PriceClose)


</p>